site_name: Tuxborn Wiki
site_description: Community-maintained documentation for Tuxborn.
site_url: ""
repo_url: https://github.com/Omni-guides/Tuxborn
repo_name: Omni-guides/Tuxborn
edit_uri: https://github.com/Omni-guides/Tuxborn/wiki/

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.integrate
  palette:
    - scheme: default
      primary: brown
      accent: grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: brown
      accent: grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - awesome-pages
  - redirects
  - minify:
      minify_html: true
  - glightbox

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.keys
  - pymdownx.mark
  - toc:
      permalink: true

extra:
  generator: false

extra_javascript:
  - assets/theme-selector.js
  - assets/checklist.js

extra_css:
  - https://fonts.googleapis.com/icon?family=Material+Icons
  - assets/theme-selector.css
  - assets/checklist.css
