site_name: Tuxborn Wiki
site_description: Community-maintained documentation for Tuxborn.
site_url: ""
repo_url: https://github.com/Omni-guides/Tuxborn
repo_name: Omni-guides/Tuxborn
edit_uri: https://github.com/Omni-guides/Tuxborn/wiki/

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.integrate
  palette:
    - scheme: default
      primary: amber
      accent: deep-orange
      toggle:
        icon: material/shield-crown
        name: Imperial Gold
    - scheme: default
      primary: blue
      accent: light-blue
      toggle:
        icon: material/snowflake
        name: Stormcloak Blue
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/alpha-t
        name: Thalmor Gold
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/skull
        name: Dark Brotherhood

plugins:
  - search
  - awesome-pages
  - redirects
  - minify:
      minify_html: true
  - glightbox

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.keys
  - pymdownx.mark
  - toc:
      permalink: true

extra:
  generator: false

extra_javascript:
  - assets/theme-selector.js
  - assets/checklist.js

extra_css:
  - assets/theme-selector.css
  - assets/checklist.css
